<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cgw.user_module">

  <application android:name=".base.MyApplication">

        <activity
            android:name=".ui.activity.MainActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|screenLayout"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>


</manifest>
